<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>217008100787-j3ohrpjsma12v7lkm6fnr6l9b14b4f7t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.217008100787-j3ohrpjsma12v7lkm6fnr6l9b14b4f7t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>217008100787-jf5a2arvdmg6gb7hspq27m5m96q3vu6o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDSmuatsiLWjZPUeEEF3mdbitp0MQfICzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>217008100787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.umpatogether</string>
	<key>PROJECT_ID</key>
	<string>umpa-4bdbc</string>
	<key>STORAGE_BUCKET</key>
	<string>umpa-4bdbc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:217008100787:ios:0e3b70adf17c1fe285a7c6</string>
</dict>
</plist>
